<!doctype html>
<html lang="en">

{% include 'includes/head.html' %}

<body>
{% include 'includes/navbar.html' %}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="container box_1620">
        <div class="banner_inner d-flex align-items-center">
            <div class="banner_content text-center">


                {% block banner_area %}
                {% endblock %}


                <!--================End Home Banner Area =================-->

                {% block content %}

                {% endblock %}

                {% include 'includes/footer.html' %}

                {% block extra_scripst %}
                {% endblock %}

</body>
</html>